/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: auto;
  position: relative;
  line-height: 1.7; }

body {
  font-family: "Montserrat",snas-serif;
  font-weight: 600; }

.heading-primary {
  color: inherit;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    z-index: 200;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem;
        color: black; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3d40eb, #1a1a58);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary--small {
    font-size: 1.6rem; }
  .heading-secondary--big {
    font-size: 3.5rem; }
    .heading-secondary--big:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #2123cd;
  color: #fff; }
  .btn--green::after {
    background-color: #2123cd; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2123cd;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2123cd;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #2123cd;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.def {
  padding: 2rem;
  width: 100%;
  position: relative; }
  .def__text-bos {
    height: 80vh;
    width: auto;
    background-color: red; }
  .def__img {
    width: 70vh;
    height: auto;
    background-size: cover;
    background-position: top;
    padding-bottom: 3rem;
    transition: all .2s; }
    .def__img:hover {
      transform: scale(1.03) translateY(-3rem); }
  .def__paragraph {
    font-size: 1.6rem;
    margin-bottom: 8rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -500;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 150rem;
  position: relative;
  -moz-perspective: 150rem;
  height: 25rem; }
  .card__side {
    height: 25rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      transform: rotateY(0deg); }
    .card__side--back {
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
    .card:hover .card__side--back-1 {
      background-image: linear-gradient(to right bottom, #3d40eb, #1a1a58); }
    .card:hover .card__side--back-2 {
      background-image: linear-gradient(to right bottom, #3d40eb, #1a1a58); }
    .card:hover .card__side--back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__picture {
    background-size: cover;
    height: 19rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #3d40eb, #1a1a58), url(../img/boy.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #3d40eb, #1a1a58), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__details {
    padding-top: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li a:link,
        .card__details ul li a:visited {
          text-decoration: none;
          color: #fff;
          transition: all .2s; }
        .card__details ul li:hover {
          transform: translateY(-2px);
          color: orangered; }
        .card__details ul li:active {
          transform: translateY(-1px); }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1rem solid #2123cd;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.col-1-of-3 ul {
  list-style-type: disc;
  font-size: 1.6rem; }

.col-1-of-3 li {
  font-weight: 400; }

.submenu {
  font-size: 1.6rem;
  border: 1px solid #2123cd;
  padding: 2rem;
  background-color: #eee;
  height: 30rem;
  overflow: scroll; }
  .submenu ul {
    list-style-type: disc; }
    .submenu ul li a:link,
    .submenu ul li a:visited {
      color: black;
      font-weight: 100;
      transition: all .2s;
      text-decoration: none; }
    .submenu ul li a:hover {
      padding: 8px;
      color: white;
      font-weight: 200;
      transition: all .2s;
      background-color: #3d40eb;
      border-radius: 2px;
      transform: translateX(6px) scale(1.03); }

.header {
  background-color: #2123cd;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5000;
  overflow: hidden; }
  .header::after {
    content: "";
    display: table;
    clear: both; }
  .header__logo-box {
    padding-left: 2rem; }
  .header__logo {
    width: 6rem;
    height: auto;
    border-radius: 100%; }
  .header__login {
    margin-right: 1rem; }
  .header__nav-item {
    display: inline-block;
    list-style-type: none;
    padding-top: 3rem;
    margin-right: 2rem;
    padding-right: 2rem; }
  .header__nav-link:link, .header__nav-link:visited {
    padding: 8px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all .2s; }
  .header__nav-link:hover, .header__nav-link:active {
    border-radius: 5px;
    background-color: white;
    color: blue;
    transform: translateY(-3rem); }

.row {
  margin: 0 auto; }
  .row--tut {
    max-width: 114rem; }
  .row--home {
    max-width: 90rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 8rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    background-color: black;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.def-section {
  position: relative; }

.card-section {
  background-color: #f7f7f7; }

.section-why {
  padding: 10rem 2rem 5rem 2rem;
  background-color: #fff; }

.section-content {
  background-color: #fff; }
